# Lists and operations

In [3]:
my_list = ['a','b','c']

In [4]:
my_list.append('d')

In [5]:
my_list

['a', 'b', 'c', 'd']

In [6]:
my_list[0]

'a'

In [7]:
my_list[1]

'b'

In [8]:
my_list[1:]

['b', 'c', 'd']

In [9]:
my_list[:1]

['a']

In [10]:
my_list[0] = 'NEW'

In [25]:
my_list

['NEW', 'b', 'c', 'd']

In [27]:
my_list.append("xyz")
print(my_list)
my_list.remove("xyz")
my_list

['NEW', 'b', 'c', 'd', 'xyz']

['NEW', 'b', 'c', 'd']

In [12]:
nest = [1,2,3,[4,5,['target']]]

In [13]:
nest[3]

[4, 5, ['target']]

In [14]:
nest[3][2]

['target']

In [15]:
nest[3][2][0]

'target'

# Dictionaries

In [41]:
#create empty dictinary
d={}

In [42]:
d = {'key1':'item1','key2':'item2'}

In [43]:
d

{'key1': 'item1', 'key2': 'item2'}

In [44]:
d['key1']

'item1'

In [45]:
#adding values to key
d['gram'] = 9, 11, 33 
print(d)

{'key1': 'item1', 'key2': 'item2', 'gram': (9, 11, 33)}

# Tuples

In [30]:
t = (1,2,3,4,5,6)
print(t)

(1, 2, 3, 4, 5, 6)

In [31]:
print(type(t))

<class 'tuple'>

In [32]:
t[0]

1

In [33]:
#slicing in tuple
print(t[:4])

(1, 2, 3, 4)

In [44]:
t[0] = 'NEW'  # tuple cannot be assigned. tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [35]:
reg = (1,2,3,4,5,6)+(11,12,13,14) # concatenation of tuples
print(reg)

(1, 2, 3, 4, 5, 6, 11, 12, 13, 14)

In [36]:
# delete won't work in tuple
del reg[2]

TypeError: 'tuple' object doesn't support item deletion

In [37]:
print(min(reg))
print(max(reg))

1
14

### Sets

In [45]:
{1,2,3}

{1, 2, 3}

In [46]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2} #removes duplicates

{1, 2, 3}

In [62]:
#getting set from list
s=set(my_list)
print(s)

{'NEW', 'c', 'b', 'd'}

In [63]:
s.add(5) # add element
print(s)

{5, 'd', 'b', 'c', 'NEW'}

In [64]:
s.update([5,6,7]) # add multiple elements
print(s)

{5, 6, 7, 'd', 'b', 'c', 'NEW'}

In [65]:
s.remove(5)  #remove in set
print(s)

{6, 7, 'd', 'b', 'c', 'NEW'}

In [66]:
s.clear()  ##clear set
print(s)

set()

In [67]:
set1 = {1,2,55,66,99}
set2 = {3,4,55,66,7}
print(set1|set2) # Union
print(set1&set2) # Intersection
print(set1-set2) # Difference

{1, 2, 99, 66, 3, 4, 7, 55}
{66, 55}
{1, 2, 99}

## Function

In [68]:
def add(a,b):
    return a+b
def subtract(a,b):
    return a-b
def multiply(a,b):
    return a*b
def divison(a,b):
    return a/b
print("Select option\n1 - Add\n2 - Subtarct\n3 - Product\n4 - Divide\n")
# Take Input
choice = int(input("Enter choice 1/2/3/4 :"))
x = float(input("Enter first number:"))
y = float(input("Enter second number:"))
if choice == 1:
    print( add(x,y) )
elif choice == 2:
    print( subtract(x,y) )
elif choice == 3:
    print( multiply(x,y) )
elif choice == 4:
    print( divison(x,y) )
else:
    print("Invalid choice" )

Select option
1 - Add
2 - Subtarct
3 - Product
4 - Divide

Enter choice 1/2/3/4 :1
Enter first number:1
Enter second number:1
2.0